<div class="auth-page">
  <div class="auth-card">
    <h1>Connexion</h1>
    <p>Connecte-toi pour gérer tes candidatures.</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        placeholder="ton@email.com"
        formControlName="email"
      />

    @if (
      loginForm.controls.email.touched &&
      loginForm.controls.email.hasError('required')
    ) {
      <p class="field-error">L'email est obligatoire.</p>
    }

    @if (
      loginForm.controls.email.touched &&
      loginForm.controls.email.hasError('email')
    ) {
      <p class="field-error">L'email n'est pas valide.</p>
    }

      <label for="password">Mot de passe</label>
      <input
        id="password"
        type="password"
        placeholder="Ton mot de passe"
        formControlName="password"
      />

    @if (
      loginForm.controls.password.touched &&
      loginForm.controls.password.hasError('required')
    ) {
      <p class="field-error">Le mot de passe est obligatoire.</p>
    }

    @if (errorMessage()) {
  <p class="error-message">
    {{ errorMessage() }}
  </p>
}
      <button
  type="submit"
  [disabled]="isLoading()"
>
  {{ isLoading() ? 'Connexion...' : 'Se connecter' }}
</button>
    </form>

    <p class="switch-link">
      Pas encore de compte ?
      <a routerLink="/register">Créer un compte</a>
    </p>
  </div>
</div>